/*start defaults*/
*,
*::before,
*::after {
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
svg,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

p {
    text-wrap: pretty;
}

a:is(:hover, :focus, :active),
a:is(:hover, :focus, :active) > * {
    text-decoration: underline;
}

input,
textarea,
button,
select {
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100dvh;
}

/*end defaults*/

@media (prefers-color-scheme: light) {
    :root {
        --text: hsl(240, 50%, 5%);
        --background: hsl(240, 50%, 98%);
        --primary: hsl(238, 55%, 52%);
        --secondary: hsl(223, 83%, 79%);
        --accent: hsl(233, 86%, 63%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: hsl(240, 52%, 95%);
        --background: hsl(240, 45%, 2%);
        --primary: hsl(238, 55%, 48%);
        --secondary: hsl(223, 83%, 21%);
        --accent: hsl(233, 86%, 37%);
    }
}

:root {
    --gap: 10px;
    --radius: calc(var(--gap) / 2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--background);
    color: var(--text);
}

header {
    background-color: var(--primary);
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    min-width: max-content;
    align-items: center;
    width: stretch;
}

.title {
    font-size: 2rem;
}

.main-content {
    width: fit-content;
    flex-wrap: wrap;
    padding: var(--gap);
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.item {
    background-color: var(--secondary);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius);
}

.item-name {
    text-align: center;
    font-weight: bold;
    margin: var(--gap);
    max-height: 100px;
    overflow: auto;
}

.item img {
    min-height: 0;
    max-height: 240px;
    object-fit: cover;
    width: stretch;
    flex: 6;
    margin-inline: var(--gap);
    border-radius: var(--radius);
}

.item-price {
    flex: 1;
    align-content: center;
}

.add-btn {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text);
    width: stretch;
    text-align: center;
    flex: 1;
    align-content: center;
    margin-block-end: var(--gap);
    margin-inline: var(--gap);
    border-radius: var(--radius);
}

.add-btn:hover {
    text-decoration: none;
    background-color: var(--accent);
}

.cart-ico {
    color: var(--text);
    text-decoration: none;
    background-color: var(--secondary);
    width: fit-content;
    height: max-content;
    text-align: center;
    align-content: center;
    border-radius: var(--radius);
    padding: var(--gap);
}

.cart-ico:hover {
    text-decoration: none;
    background-color: var(--accent);
}

table,
tr {
    width: 80%;
    border: 1px solid black;
}

th {
    text-align: left;
    border: 1px solid black;
}

td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mbtn {
    background-color: blanchedalmond;
    text-decoration: none;
    display: block;
    width: 30px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    font-size: larger;
    font-weight: bold;
}

td p {
    margin: 3px;
    padding: 5px;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
}

.infoMsg {
    width: 100%;
    color: green;
    font-size: 1.3rem;
    text-align: center;
}
