<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="UTF-8"/>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style2.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>

<body>
<header th:replace="fragments/header :: header"></header>

<div class="main-content">
        <div class="item" th:each="item : ${items}">
                <p class="item-name" th:text="${item.name}"></p>

                <img th:src="${item.imgURL}"/>

                <div class="item-price">
                        <span>Cena: </span>
                        <span th:text="${item.price}"></span>
                        <span>zł</span>
                </div>

                <a th:href="@{'/add/' + ${item.id}}" class="add-btn">Dodaj do koszyka</a>
        </div>
</div>
</body>

</html>
